//About page//

.bio-block-container{
	padding:30px 0px;
	min-height:240px;
	box-shadow: 0px 1px 1px -1px $box-shadow-colour;
}


//hide images desktop images on mobile screens
.bio-block-image-desktop{
	@media(max-width:$screen-xs)
	{
		display:none;
	}
}

.bio-katie{
	img{
		margin-left:20px;
		border: 3px solid $other-colour;
	}

	h3,p{
		text-align:right;
	}

	@media(max-width:$screen-xs)
	{
		h3,p{
			text-align:left;
		}
	}
}

.bio-fergal{
	img{
		margin-right:20px;
		border: 3px solid $shop-colour;
		float:right;
	}
}

.bio-artur{
	img{
		margin-left:20px;
		border: 3px solid $bar-colour;
	}

	h3,p{
		text-align:right;
	}

	@media(max-width:$screen-xs)
	{
		h3,p{
			text-align:left;
		}
	}
}

.bio-brian{
	img{
		margin-right:20px;
		border: 3px solid $restaurant-colour;
		float:right;
	}
}