//COLOURS
//---------
//Variables for custom colours:

$main-brand-colour:#16a085;

$bar-colour: #e74c3c;
$restaurant-colour:#883C82;
$shop-colour:#2ecc71;
//$other-colour:#fff200;
$other-colour:#fbc93d;

$box-shadow-colour:#bdc3c7;

//Fonts
//-------
//Variables for custom fonts

$fontFamily:'Lato';
$fontHeading: 26px;
$fontMain: 20px;

$fontFamilyHeading:'Poiret One', cursive;

$font-colour:#2c3e50;

p{
    font-size: 16px4
}

//Mixins
//--------

@mixin box-shadow($box-shadow...){
	-moz-box-shadow: 	$box-shadow;
	-webkit-box-shadow: $box-shadow;
	-o-box-shadow: 		$box-shadow;
	box-shadow: 		$box-shadow;
}

@mixin filter($filter...){
	-moz-filter: 		$filter;
	-webkit-filter: 	$filter;
  	-o-filter: 			$filter;
  	filter: 			$filter;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transform...) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}

@mixin animation-duration($animation-duration...){
    -moz-animation-duration:    $animation-duration;
    -webkit-animation-duration: $animation-duration;
    -o-animation-duration:      $animation-duration;
    animation-duration:         $animation-duration;
}

//Media Queries
//---------------

//screen-xs (xtra small)
$screen-xs : 480px;

//screen sm (small)
$screen-sm: 768px;

//screen-md (medium)
$screen-md : 992px;

//screen-lg (large)
$screen-lg : 1200px;

//SearchResultDisply
//--------------------

//header//
$resultHeaderWidth: 100%;
$resultHeaderHeight: 40px;
$resultHeaderPadding: 2px;
$result-header-bg:#fff;

//Settings Pannel
//-----------------

$settings-header-colour:$main-brand-colour;

//Registration Forms
//--------------------

$reg-button-yes-colour:#4CAF50;
$reg-button-no-colour:#F44336;
$reg-button-yes-colour-hover:#388E3C;
$reg-button-no-colour-hover:#D32F2F;

//Bootstrap Overrides
//---------------------

//NavBar
$navbar-default-bg:$main-brand-colour;
$navbar-default-link-color:#fff;
$navbar-default-link-active-color:#fff;

$navbar-default-link-color:#fff;
$navbar-default-link-hover-bg:#fff;
$navbar-default-link-active-color:$main-brand-colour;
$navbar-default-link-active-bg:#fff;

//Gutter
$grid-gutter-width: 10px;

//Border Radius
$border-radius-base:0px;