///////////
//COLOURS//
///////////
//Variables for custom colours

$bar-colour: #FF6961;
$restaurant-colour:#AEC6CF;
$shop-colour:#77DD77;
$other-colour:#EDF798;

$box-shadow-colour:#9E9E9E;

/////////
//Fonts//
/////////
//Variables for custom fonts

//$fontFamily:;
$fontHeadeing: 26px;
$fontMain: 20px;

$fontColour:#7f8c8d;



//////////////////////
//SearchResultDisply//
//////////////////////

//header//
$resultHeaderWidth: 100%;
$resultHeaderHeight: 40px;
$resultHeaderPadding: 5px;


///////////////////////
//Bootstrap Overrides//
///////////////////////

//NavBar
$navbar-default-bg:#3498db;
$navbar-default-link-color:#fff;
$navbar-default-link-active-color:#fff;

