//////////
//Footer//
//////////

.footer{
	clear:both;
	width:100%;
	height:130px;
	color:#fff;
	background-color:$main-brand-colour;
	z-index:0;
}

.foot-box{
	width:100%;
	padding: 10px;
	height:100%;
	text-align:center;
}

.foot-box-header{
	height:70%;
	width:100%;
	font-family:$fontFamilyHeading;
	border-bottom:solid 3px #fff;

	h2{
		font-size:60px;
		line-height: 100%;
		padding:0px;
		margin:0px;
	}
}

.foot-box-body{
	height:30%;
	line-height: 100%;
	padding-top:5px;
	a{
		color: #fff;

	}
}

@media(max-width:$screen-sm){
	.footer{
		position: fixed;
		bottom:0px;
		height:80px;
	}

	.foot-box{
		margin-top:0px;
		padding: 5px;
	}

	.foot-box-header{
		position:relative;
		height:50%;

		h2{
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			font-size:30px;
		}
	}
}