//////////
//Footer//
//////////

.footer{
	clear:both;
	width:100%;
	position:relative;
	min-height:200px;
	height:auto;
	color:#fff;
	background-color:$main-brand-colour;
	ul{
		list-style-type: none;
	}
	z-index:-1;
}

.foot-box{
	padding: 10px;
	margin-top:50px;
	height:100px;
	@media(max-width:$screen-sm){
		margin-top:20px;
	}
}

.foot-border-right{
	@include box-shadow(3px 0px 5px -4px #fff);
	@media(max-width:$screen-sm){
		@include box-shadow(0px 3px 5px -4px #fff);
	}
}

.footer-avatar{
	position:absolute;
	top:-390px;
	left:77%;
	margin-left:100px;
}