//////////
//Footer//
//////////

.footer{
	clear:both;
	width:100%;
	position:relative;
	min-height:200px;
	height:auto;
	color:#fff;
	background-color:$main-brand-colour;
	z-index:0;
}

.foot-box{
	width:100%;
	padding: 10px;
	margin-top:50px;
	height:100%;
	@media(max-width:$screen-sm){
		margin-top:20px;
	}
	text-align:center;
}

.foot-box-header{
	height:50%;
	width:100%;
	font-family:$fontFamilyHeading;
	border-bottom:solid 3px #fff;
	h2{
		font-size:60px;
	}
}

.foot-box-body{
	height:50%;
	a{
		color: #fff;
	}
}


.footer-avatar{
	position:absolute;
	top:-390px;
	left:77%;
	margin-left:100px;
}