//IndividulaSearchPage.html

.indiv-wrapper{
	margin-top:90px;
	width:100%;
	overflow: hidden;
	height:auto;
	padding-top:3px;
	@media (max-width: $screen-sm){
		margin-top:50px;
	}
}

.indiv-img-wrap{
	position:relative;
	overflow: hidden;
	height: 200px;

	img{
		transform-origin:50% 50%;
		transform:translate(0%,-50%);
		width:100%;

		@media (max-width: $screen-sm){
			transform-origin:50% 50%;
			transform:translate(0%,-20%);
		}
	}

	@media (max-width: $screen-sm){
		height: 100px;
	}
}

.indiv-header-wrapper{
	float:left;
	height:auto;
	width:100%;
}

.indiv-page-header{
	position:absolute;
	top:50%;
	height: 60px;
	background-color: #fff;
	padding-right: 10px;
	border-radius: 0px 1px 0px 1px;
	line-height: 60px;

	h2{
		line-height: 60px;
		margin: 0px;
		font-family: $fontFamilyHeading;
	}
}

.indiv-content{
	float:left;
	width:100%;
	height:auto;
	padding-bottom:5px;
}

.indiv-map-wrap{
	position:relative;
	overflow:hidden;
	width:70%;
	height:50vh;
	float:left;
	padding:0px !important;

	@media(max-width:$screen-sm){
		height:85vh;
	}
}

.indiv-divider{
	margin: 5px 0px 5px 0px;
	border-top: 5px solid;
}

.indiv-divider-bar{border-color: $bar-colour;}
.indiv-divider-res{border-color: $restaurant-colour;}
.indiv-divider-shop{border-color: $shop-colour;}
.indiv-divider-other{border-color: $other-colour;}


.indiv-description{
	min-height:400px;
	width:30%;
	float:left;
	padding-left:5px;
	padding-top:15px;
}

.indiv-button-spacer{
	margin-top:10px;
}

@media (max-width: $screen-sm){
	.indiv-description{
		width:100%;
	}
	.indiv-map-wrap{
		width:100%;
	}
}

#arrowContainer{
	width:120px;
	height:120px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%)
}

.arrow{
	-webkit-transform-origin:center center;
	transform-origin:center center;
	width:120px;
	height:120px;
	z-index:5;
}

#userArrow{
	@extend .arrow;
}

#navArrow{
	@extend .arrow;
}

.indiv-map-distance{
	text-align:center;
	width:100%;
	height:50px;
	line-height:50px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:rgba(255,255,255,0.7);
	z-index:5;
}

//Ratings

.indiv-ratings{
	width: 100%;
	float: left;
}

.review-btn{
	float: left;
	text-align: center;
	position: relative;
	cursor: pointer;

	i{
		position: absolute;
		top: 50%;
		transform:translate(0%,-50%);
	}
}