//IndividulaSearchPage.html

.indiv-wrapper{
	margin-top:90px;
	width:100%;
	overflow: hidden;
	height:auto;
	padding-top:3px;
	@media (max-width: $screen-sm){
		margin-top:120px;
	}
	margin-bottom:40px;
}

.indiv-img-wrap{
	position:relative;
	overflow: hidden;
	height: 200px;

	img{
		//transform-origin:50% 50%;
		//transform:translate(0%,-50%);
		width:100%;

		@media (max-width: $screen-sm){
			transform-origin:50% 50%;
			transform:translate(0%,-20%);
		}
	}

	@media (max-width: $screen-sm){
		height: 100px;
	}

	&:hover{
		@extend .edit-location-hover-visible;
	}
}

.indiv-header-wrapper{
	float:left;
	height:auto;
	width:100%;
}

.indiv-page-header{
	position:absolute;
	top:50%;
	height: 60px;
	background-color: #fff;
	padding-right: 10px;
	border-radius: 0px 1px 0px 1px;
	line-height: 60px;

	h2{
		line-height: 60px;
		margin: 0px;
		font-family: $fontFamilyHeading;
	}
}

.indiv-content{
	float:left;
	width:100%;
	height:auto;
	padding-bottom:5px;
}

.indiv-description{
	min-height:400px;
	width:50%;
	float:left;
	padding-left:5px;
	padding-top:15px;
}

.indiv-time{
	float:left;
	width:50%;
	height:auto;
	padding-bottom:5px;
}

.indiv-map-wrap{
	position:relative;
	overflow:hidden;
	width:100%;
	height:50vh;
	float:left;
	padding:0px !important;

	@media(max-width:$screen-sm){
		height:85vh;
	}

	&:hover{
		@extend .edit-location-hover-visible;
	}
}

@media (max-width: $screen-sm){
	.indiv-description, .indiv-time{
		width:100%;
	}
}

.indiv-divider{
	margin: 5px 0px 5px 0px;
	border-top: 5px solid;
}

.indiv-divider-bar{border-color: $bar-colour;}
.indiv-divider-res{border-color: $restaurant-colour;}
.indiv-divider-shop{border-color: $shop-colour;}
.indiv-divider-other{border-color: $other-colour;}


.indiv-button-spacer{
	margin-top:10px;
}

@media (max-width: $screen-sm){
	.indiv-description{
		width:100%;
	}
	.indiv-map-wrap{
		width:100%;
	}
}

#arrowContainer{
	display:none;
	width:120px;
	height:120px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%)
}

@media (max-width: $screen-sm){
	#arrowContainer{
		display:block;
	}
}

.arrow{
	-webkit-transform-origin:center center;
	transform-origin:center center;
	width:120px;
	height:120px;
	z-index:5;
}

#userArrow{
	@extend .arrow;
}

#navArrow{
	@extend .arrow;
}

.indiv-map-distance{
	text-align:center;
	width:100%;
	height:50px;
	line-height:50px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:rgba(255,255,255,0.7);
	z-index:5;
}

//Edit Location Elements Styling

.edit-location-hover{
	visibility:hidden;
	opacity: 0;
	@include transition(visibility 0s ease 0.4s, opacity 0.4s ease);
	height:100%;
	width:100%;
	z-index: 2;
	//'a' value controls opacity of hover box
	background-color:rgba(22, 160, 133,1);
	position: absolute;
	left:0px;
	top:0px;
}

.edit-location-hover-visible{
	@include transition(all .7s ease);

	.edit-location-hover{
		visibility:visible;
		opacity:1;
		background-color:rgba(22, 160, 133,0.85);
		transition-delay:0s;
	}
}

.edit-location-hover-header-options{
	width: 60%;
	height: 100%;
	margin: auto;
}

#imageModal{
	top: 20% !important;

	@media(min-width:$screen-md){
		.modal-dialog {
			width: 900px;
		}
	}
}

.image-modal-upload-container{
	width: 100%;
	height: auto;
	position: relative;
}

#editImageHolder{
	width: 100%;
	height: 200px;
	top: 0;
	position: absolute;
	padding: 0px !important;
}

.image-modal-upload-btn-container{
	width: 100%;
	height: auto;
	margin-top: 50px;

    input[type="file"]{
    	position: absolute;
    	visibility: hidden;
    }

    i:hover{
    	color: $main-brand-colour;
    	cursor: pointer
    }
}

//Ratings

.indiv-ratings{
	width: 100%;
	float: left;
}

.review-btn{
	float: left;
	text-align: center;
	position: relative;
	cursor: pointer;

	i{
		position: absolute;
		top: 50%;
		transform:translate(0%,-50%);
	}
}

//Desktop View
.indiv-details-column-dektop{
	width: 50%;
	height: auto;
	float: left;
	padding: 5px;

	@media (max-width: $screen-sm){
		width: 100%;
	}
}

.indiv-label{
	margin-bottom: 0px;
	color: #16a085;
	font-weight: normal;
	font-size: 16px;
}

.indiv-para{
	font-size: 14px;
}

.indiv-social-links-wrap{
	width: 100%;
	height: 40px;
}

.indiv-social-link{
	width: 33.3%;
	height: 100%;
	float: left;
	text-align: center;
	color: #fff;
	position: relative;
	cursor: pointer;

	i{
		position: absolute;
		top: 50%;
		transform:translate(-50%,-50%);
	}

	&:hover{
		//background-color: $main-brand-colour;
		background-image: linear-gradient($main-brand-colour, $main-brand-colour);
	}
}

.indiv-social-link-f{ background-color: #3b5998; }
.indiv-social-link-t{ background-color: #55acee; }
.indiv-social-link-i{ background-color: #3f729b; }

.opening-hours-added-time{
	width:100%;
	height:34px;

	label{
		float:left;
		width:50%;
	}
	p{
		float:left;
		width:50%;
	}
}

.anchor{
	display: block;
    position: relative;
    visibility: hidden;
}

a#info, a#rating{
	@extend .anchor;
    top: -300px;
}

a#map-anchor{
	@extend .anchor;
    top: -400px;
}

//Comments
//--
//--Comment Form

.comment-form{
	//margin-top:20px;
}


//--Comments
.comment-wrap{
	width:100%;
	padding:5px;
	float:left;
	margin-top:10px;
	@include box-shadow(0px 1px 1px -1px $box-shadow-colour);
}

.comment-title{
	@extend .indiv-label;
	font-size:16px;
	width:45%;
	float:left;
	height:30px;
	line-height:20px;
	display:inline;
}

.thumb-block{
	width:5%;
	height:30px;
	float:left;
	.fa{
		font-size: 20px;
	}
}

.rating-pos{
	color:$pos;
}

.rating-neg{
	color:$neg;
}

.comment-user{
	width:50%;
	float:left;
	line-height:20px;
	p{
		display:inline;
	}
}

.comment-body-text{
	width:100%;
	float:left;
}

.rating-wrap{
	width:100%;
	height:auto;
	color: $main-brand-colour;
}

.comment-footer{
	float:left;
	width:100%;
	height:40px;
	text-align:right;
	a{
		cursor: pointer;
		color: $main-brand-colour;
	}
}