.profile-img-nav {
	height: 51px;
}

.profile-dropdown {
	height: 100%;
	width: 100px;
	padding: 0px !important;
	background-color: #fff;
}

.profile-menu-nav {
	width: 200px; 
	overflow: hidden !important;
	border: none !important;
}