.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
/*
.navbar a:focus{
	background-color:#16a085 !important;
}
*/
