.m-nav-wrapper{
	width:75%;
	position:fixed;
	left:-600px;
	top:50px;
	bottom:0px;
	z-index:999;
	color: #000;
	background-color: #fff;

	@media (min-width:$screen-sm){
		display:none;
	}

	//Speed of sidebar animation
	@include animation-duration(.5s);
}

.m-nav-wrapper-show{
	left:0;
}

.m-nav .quickBTN{
	display: none;
}