////////////////////////
//Quick Filter Buttons//
////////////////////////

.quickBTNContainer{
	margin-bottom:20px;
	
	@media(max-width:$screen-sm){
		width:100% !important;
		height:60px !important;
	}	
}

.quickBTN{
	width:auto !important;
	min-width:60px;
	height:60px !important;
	margin-top:20px;

	@media(max-width:$screen-sm){
		margin-top:0px;
		width:19% !important;
		height:60px !important;
	}	
}