//Search Result Display
//-----------------------
//for searchresults.html

//TODO: Blur, greyscale & opacity not working in microsoft browsers (ie, edge)


//Wrapper for all search results
//--
.content-wrapper{
	margin-top:30px;
	@media(max-width:$screen-sm){
    	margin-top:80px;
    }
	

	position:relative;
	min-height:500px;
}

//Wrapper for individual search result
//--
.result-wrapper{
	width:100%;
	clear:both;
	height:auto;
	min-height:150px;
	overflow:auto;
	background-color:#fff;
	@include transition(all .4s ease);
	@include box-shadow (0px 0px 10px 1px $box-shadow-colour);
	margin-bottom:25px;
	border-radius:1px;
	float:left;
	position: relative;
	border:1px solid $box-shadow-colour;

	//transition out of scale effect on image
	img{
		@include transition(all 1s ease);
	}

	&:hover{
		@include transition(all .7s ease);
		@include box-shadow (0px 0px 6px 1px $box-shadow-colour);

		//transition into scale effect on image
		img{
			@include transition(all .7s ease);
			@include transform(scale(1.3));

			@media(max-width:$screen-sm){
				transform: none;
		}
	}
	
	.result-wrapper-hover{
		visibility:visible;
		opacity:1;
		transition-delay:0s;
		
		/*
		//Hides hover effects on mobile screens
		@media(max-width:$screen-sm){
			display:hidden;
		}
		*/
	}
	
	//transition into blur and greyscale effect
	.result-content, .result-content-image{
		//fix for small white fliker on transition
		-webkit-backface-visibility: hidden;

		@include transition(0.4s filter linear);
		@include filter(blur(3px) grayscale(100%));
		
		/*
		//Hides hover effects on mobile screens
		@media(max-width:$screen-sm){
			@include filter(blur(0px));
		}
		*/
	}
	
	//TODO: Not sure whether to greyscale header colour. Come back too
	.result-header{
		@include transition(0.4s filter linear);
		@include filter(blur(3px));
		
		/*
		//Hides hover effects on mobile screens
		@media(max-width:$screen-sm){
			@include filter(blur(0px));
		}
		*/
	}
}
}

//Transition out of blur and greyscale effects
.result-header, .result-content, .result-content-image{
	@include transition(0.1s filter linear);
	@include filter(blur(0px) grayscale(0%));
}

//.result-wrapper Hover Styling
.result-wrapper-hover{
	visibility:hidden;
	opacity: 0;
	@include transition(visibility 0s ease 0.4s, opacity 0.4s ease);
	height:100%;
	width:100%;
	z-index: 2;
	//'a' value controls opacity of hover box
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	left:0px;
	top:0px;
}

//Wrapper for content in the hover event of result wrapper
//--
.result-wrapper-hover-content{
	width:330px;
	height:150px;
	padding-top: 10px;
	margin: auto;
	text-align: center;

	p{
		height:50%;
		font-size: $fontHeading;
		font-family: $fontFamilyHeading;
		color: $font-colour;
		margin-bottom: 40px;
	}

	button{
		width:100%;
		height:30px;
		z-index: 10;
		margin: auto;
		border:1px solid $box-shadow-colour;
		background-color:#fff;
		color:$font-colour;

		&:hover{
			@include transition(background-color 0.8s ease);
			background-color:#ecf0f1;
		}
	}
}

//Global properties for -- ::before elements & .result-hover-bar
//--
.result-hover-bar-properties{
	width:60%;
	padding-top: 20px;
	position:relative;
	margin: auto;
	border-top:5px solid;
}

.result-hover-icon-properties{
	font-family: FontAwesome;
	position: absolute;
	left:45%;
	top:-55px;
	font-size: 25px;
}
//--
.result-hover-button-bar{
	@extend .result-hover-bar-properties;
	border-color: $bar-colour;
	
	::before{
		@extend .result-hover-icon-properties;
   		content: "\f000";
   		color: $bar-colour;
	}
}

.result-hover-button-restaurant{
	@extend .result-hover-bar-properties;
	border-color: $restaurant-colour;

	::before{
		@extend .result-hover-icon-properties;
   		content: "\f0f5";
   		color: $restaurant-colour;
	}
}

.result-hover-button-shop{
	@extend .result-hover-bar-properties;
	border-color: $shop-colour;

	::before{
		@extend .result-hover-icon-properties;
   		content: "\f07a";
		color: $shop-colour;
	}
}

.result-hover-button-other{
	@extend .result-hover-bar-properties;
	border-color: $other-colour;

	::before{
		@extend .result-hover-icon-properties;
   		content: "\f141";
   		color: $other-colour;
	}
}

//Result Headers
//--
.location-icon{
	margin:5px 5px 0px 0px; 
	color:#9E9E9E;
}

.result-header{
	width:$resultHeaderWidth;
	height:$resultHeaderHeight;
	padding:0px 0px 3px 3px;
	float:left;
	color:$font-colour;
	font-size:$fontHeading;
	background-color:$box-shadow-colour;
	@include box-shadow (0px 1px 1px -1px $box-shadow-colour);
	font-family: $fontFamilyHeading;

	.fa{
		font-size: 26px;
		padding:3px 3px 0px 0px;
	}
}

//Headers for individual content types
//--
.result-header-bar{
	border-top: 5px solid $bar-colour;
	background-color:$result-header-bg;

	.fa{color:$bar-colour;}
}

.result-header-restaurant{
	border-top: 5px solid $restaurant-colour;
	background-color:$result-header-bg;

	.fa{color:$restaurant-colour;}
}

.result-header-shop{
	border-top: 5px solid $shop-colour;
	background-color:$result-header-bg;

	.fa{color:$shop-colour;}
}

.result-header-other{
	border-top: 5px solid $other-colour;
	background-color:$result-header-bg;

	.fa{color:$other-colour;}
}

//Result Content
//--
.result-content{
	width:60%;
	height:150px;
	padding:10px 10px 0px 10px;
	height:auto;
	float:left;

	@media(max-width:$screen-sm){
		width:100%;
	}
}

.result-content-description{
	float:left;
	height:110px;
	width:100%;
}

.result-content-aux-info{
	width:100%;
	height: 100%;

	div{
		float:left;
		width:50%;
	}

	.aux-city{
		text-align: left;
	}

	.aux-distance{
		text-align: right;
	}
}

.result-content-image{
	width:40%;
	height:150px;
	overflow: hidden;
	
	@include box-shadow(-1px 0px 0px 0px $box-shadow-colour);
	
	@media(max-width:$screen-sm){
		width:100%;
		@include box-shadow(0px 0px 0px 0px #fff);
	}
}


//Search Result page 
//Left & right columns
//--
.content-left{
	width:70%;
	float:left;
	position: relative;
	@media(max-width:$screen-sm)
	{
		width:100%
	}
}

//Hide settings pannel when on mobile view
.content-right{
	width:30%;
	@media(max-width:$screen-sm)
	{
		display:none;
	}
}

.search-loading{
	img{
		width:150px;
	}
	position:absolute;
	top:20px;
	left:42%;
	z-index:0;

	@media(max-width:$screen-sm)
	{
		left:38%;
	}
}

.loading-image-text{
	position:absolute;
	left:33%;
	top:47px;
	z-index: 20;
	color: $main-brand-colour;
	font-family: $fontFamilyHeading;
	font-size: 35px;
	z-index:0;
}