//Settings Pannel


.settings-pannel-wrapper{
	width:300px;
	float:left;
	height:auto;
	min-height:100px;
	overflow:auto;
	background-color:#fff;
	box-shadow: 0px 0px 2px 0px $box-shadow-colour;
	margin-bottom:20px;
	border-radius:1px;
}

.settings-pannel-header{
	width:$resultHeaderWidth;
	height:$resultHeaderHeight;
	padding:$resultHeaderPadding;
	margin-bottom:10px;
	float:left;
	color:$fontColour;
	font-size:$fontMain;
	box-shadow: 0px 1px 1px -1px $box-shadow-colour;
}

.settings-pannel-header-settings{
	border-top: 5px solid $settings-header-colour;
	background-color:$result-header-bg;
}

.settings-pannel-header-business{
	border-top: 5px solid $settings-header-colour;
	background-color:$result-header-bg;
}

.settings-pannel-content{
	padding:10px 0px 0px 10px;
	height:auto;
	float:left;
	margin-bottom:20px;
	list-style: none;
	@media(max-width:$screen-sm){
		width:100%;
	}
}
.settings-pannel-content li a{
	display: block;
    text-decoration: none;
    list-style: none;
    color: $box-shadow-colour;
}