$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/componants-font-awesome/fonts/";


//DO NOT import any styles before "customVariables"
@import "_customVariables";

//Copy of bootstraps variable file //To be deleted
@import "_variablesOverride.scss";

@import "_animate.scss";

@import "_global.scss";
@import "_simple-sidebar.scss";
@import "_quickFilterButtons.scss";
@import "_searchResultDisplay.scss";
@import "_footer.scss";
@import "_settingsPannel.scss";
@import "_aboutPage.scss";
@import "_mobileNav.scss";
@import "_landing.scss";
@import "_individualResultPage.scss";
@import "_progress.scss";
@import "_regBusinessForm.scss";
@import "_landing.scss";
@import "_settingsPanelModules.scss";
@import "_mainNav.scss";
@import "_mapMarkerPanel.scss";
@import "_mapView.scss";
@import "_userLocations.scss";
@import "_visitedLocations.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower


//TODO: Needs to be moved to "global.scss"
html {
	//Show scrollbar (chrome) to stop site moving when content is less than height of screen (Annoying)
    //overflow-y: scroll;
    height: 100%;
}

body{

	background-color:#ecf0f1;
	font-family:$fontFamily;
	position:relative;
	h1{
		font-size:$fontHeading;
	}
	min-height: 100%;
}

body.modal-open { overflow:inherit; padding-right:inherit !important; }

//Sets google map to width and height of containing element
.angular-google-map, .angular-google-map-container{
	width:100% !important;
	height:100% !important;
}

//Heading Bar
//-------------
.page-heading-bar{
	position:fixed;
	left:0px;
	top:50px;
	width:100%;
	background-color:#fff;
	height:55px;
	margin-bottom:20px;
	@include box-shadow(0px 1px 1px -1px $box-shadow-colour);
	opacity:0.95;
	z-index:1;

	h1{
		margin-top:14px;
	}
}

.btn-mat{
	position: relative;

	display: block;
	margin: 30px auto;
	padding: 0;

	overflow: hidden;

	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

	background-color: #2ecc71;
	color: #ecf0f1;

	transition: background-color .3s;
}

.btn:hover, .btn:focus {
	background-color: #27ae60;
}

.btn > * {
	position: relative;
}

.button-main{
	position: relative;
	display: inline-block;
	width:100%;
	height:40px;
	border: 2px solid #fff;
	background-color:#fff;
	color: $main-brand-colour;
	font-family: $fontFamily;
	background-image: linear-gradient($main-brand-colour, $main-brand-colour);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 0% 100%;
	transition: background-size .5s, color .5s;
}

.button-main:hover {
	background-size: 100% 100%;
	color: #fff;
}

.button-border-green{
	border: 2px solid $main-brand-colour;
}