$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/componants-font-awesome/fonts/";


//DO NOT import any styles before "customVariables"
@import "_customVariables";

//Copy of bootstraps variable file //To be deleted
@import "_variablesOverride.scss";

@import "_animate.scss";

@import "_global.scss";
@import "_simple-sidebar.scss";
@import "_quickFilterButtons.scss";
@import "_searchResultDisplay.scss";
@import "_footer.scss";
@import "_settingsPannel.scss";
@import "_aboutPage.scss";
@import "_mobileNav.scss";
@import "_individualResultPage.scss";
@import "_progress.scss";
@import "_regBusinessForm.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower


//TODO: Needs to be moved to "global.scss"
html {
	//Show scrollbar (chrome) to stop site moving when content is less than height of screen (Annoying)
    overflow-y: scroll; 
}

body{
	padding-top:50px;
	background-color:#ecf0f1;
	font-family:$fontFamily;
	position:relative;
	h1{
		font-size:$fontHeading;
	}

}

//Heading Bar
//-------------
.page-heading-bar{
	position:fixed;
	left:0px;
	top:50px;
	width:100%;
	background-color:#fff;
	height:55px;
	margin-bottom:20px;
	@include box-shadow(0px 1px 1px -1px $box-shadow-colour);
	opacity:0.95;
	z-index:1;

	h1{
		margin-top:14px;
	}
}