<div class="footer">
<img class="footer-avatar hidden-xs hidden-sm" src="/images/SidebarAvatar2.png"/>
<div class="container">
    <div class="col-xs-12 col-md-3 text-center foot-box foot-border-right">
    <img src="/images/blip_logo.png" />
    	<ul>
    		<li>copyright&copy; - <?php echo date("Y"); ?></li>
    		<li></li>
    		<li></li>
    	</ul>
	</div>
    <div class="col-xs-12 col-md-3 text-center foot-box foot-border-right">
    	<p>About Us</p>
    	<p>Contact Us</p>
	</div>
	<div class="col-xs-12 col-md-3 text-center foot-box foot-border-right">
    	<p>Privacy Policy</p>
    	<p>Term & Conditions</p>
	</div>
	<div class="col-xs-12 col-md-3 text-center foot-box">
    	<p>We <i class="fa fa-heart"></i> Feedback.</p>
    	<p>Let us know what you think.</p>
        <p>Let us know what you think.</p>
	</div>
</div>
</div>