<div class="indiv-content">
	<div class="indiv-details-column-dektop">
                <label>Description</label>
                <p>{{pageViewData.LocationDescription}}</p>
                <label>Phone</label>
                <p>{{pageViewData.LocationPhone}}</p>
                <label>Website</label>
                <p>{{pageViewData.LocationWebsite}}</p>
	</div>
	<div class="indiv-details-column-dektop">
                <label>Opening Hours</label>
                <p>{{pageViewData.LocationDescription}}</p>
	</div>
</div>