<div class="container ">

    <button type="button" ng-class="{'quick-button-all-active': activeFilter == 0}" class="quickBTN quick-button-all" ng-click="setFilterSetClass('All',0)">ALL</button>

    <button type="button" ng-class="{'quick-button-bar-active': activeFilter == 1}" class="quickBTN quick-button-bar" ng-click="setFilterSetClass('Bar',1)"><i class="fa fa-glass fa-2x"></i></button>

    <button type="button" ng-class="{'quick-button-restaurant-active': activeFilter == 2}" class="quickBTN quick-button-restaurant" ng-click="setFilterSetClass('Restaurant',2)"><i class="fa fa-cutlery fa-2x"></i></button>

    <button type="button" ng-class="{'quick-button-shop-active': activeFilter == 3}" class="quickBTN quick-button-shop" ng-click="setFilterSetClass('Supermarket',3)"><i class="fa fa-shopping-cart fa-2x"></i></button>

    <button type="button" ng-class="{'quick-button-other-active': activeFilter == 4}" class="quickBTN quick-button-other" ng-click="setFilterSetClass('Other',4)"><i class="fa fa-ellipsis-h fa-2x"></i></button>

</div>