<div class="quickBTNContainer">
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('All')">ALL</button>
    <button type="button" class="btn btn-default quickBTN result-header-bar" ng-click="getFilter('Bar')"><i class="fa fa-glass fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN result-header-restaurant" ng-click="getFilter('Restaurant')"><i class="fa fa-cutlery fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN result-header-shop" ng-click="getFilter('Supermarket')"><i class="fa fa-shopping-cart fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN result-header-other" ng-click="getFilter('Other')">OTHER</button>
</div>