<div class="">

    <button type="button" ng-class="{'quick-button-all-active': activeFilter == 0}" class="quickBTN quick-button-all scrollup" href="#" ng-click="setFilterSetClass('All',0)" >ALL</button>

    <button type="button" ng-class="{'quick-button-bar-active': activeFilter == 1}" class="quickBTN quick-button-bar scrollup" href="#" ng-click="setFilterSetClass('Bar',1)" href="#"><i class="fa fa-glass fa-2x"></i></button>

    <button type="button" ng-class="{'quick-button-restaurant-active': activeFilter == 2}" class="quickBTN quick-button-restaurant scrollup" href="#" ng-click="setFilterSetClass('Restaurant',2)"><i class="fa fa-cutlery fa-2x"></i></button>

    <button type="button" ng-class="{'quick-button-shop-active': activeFilter == 3}" class="quickBTN quick-button-shop scrollup" href="#" ng-click="setFilterSetClass('Supermarket',3)"><i class="fa fa-shopping-cart fa-2x"></i></button>

    <button type="button" ng-class="{'quick-button-other-active': activeFilter == 4}" class="quickBTN quick-button-other scrollup" href="#" ng-click="setFilterSetClass('Other',4)"><i class="fa fa-ellipsis-h fa-2x"></i></button>
</div>


<!--
On filter button click, Smooth scroll to top of page
http://jsfiddle.net/neeklamy/RpPEe/
-->
<script>
	$(document).ready(function () {
		/*
	    $(window).scroll(function () {
	        if ($(this).scrollTop() > 100) {
	            $('.scrollup').fadeIn();
	        } else {
	            $('.scrollup').fadeOut();
	        }
	    });
		*/
	    $('.scrollup').click(function () {
	        $("html, body").animate({
	            scrollTop: 0
	        }, 600);
	        return false;
	    });

	});
</script>