<div class="form-left" ng-controller="ReviewCtrl">
 			<button  id="up"  class="btn btn-success" ng-click='thumbUp(userId, locationId)'>
            <i id="countUp" class="fa fa-thumbs-up  fa-6"></i>
            </button>
            <button id="down"  class="btn btn-danger" ng-click='thumbDown(userId, locationId)'>
            <i id="countDown" class="fa fa-thumbs-down  fa-6"></i>
            </button>

<form class="form-left" role="form" name="commentForm">           
            <div ng-show='addingComments'>
            <div class="form-field">
                <label class="form-label">User ID get from sesion for now Me: 311 Test: 321</label>
                <input placeholder="Name" type="text" name="id" ng-model="userId" ng-minlength="3" required/>
                <span ng-show="registrationForm.name.$dirty && registrationForm.name.$error.required">Required</span>
            </div>
            <div class="form-field">
                <label class="form-label">Tell us what you think!</label>
                <input placeholder="Name" type="text" name="name" ng-model="userName" ng-minlength="3" required/>
                <span ng-show="registrationForm.name.$dirty && registrationForm.name.$error.required">Required</span>
                <span ng-show="registrationForm.name.$dirty &&    registrationForm.name.$error.minlength">Minimum 3 characters</span>
            </div>
            <div class="form-field">
                <input placeholder="Write your comment here" type="text" name="comment" ng-model="userComment" ng-minlength="3" ng-maxlength="100" required/>
                <span ng-show="registrationForm.comment.$dirty &&    registrationForm.comment.$error.minlength">Minimum 3 characters</span>
                <span ng-show="registrationForm.comment.$dirty &&    registrationForm.comment.$error.maxlength">Maximum 100 characters</span>
                <span ng-show="registrationForm.comment.$dirty && registrationForm.comment.$error.required">Required</span>
            </div> 
            <div>
            <button type="submit" class="bus-reg-button bus-reg-button-yes" ng-disabled="registrationForm.$invalid" ng-click='addComment(userId, userName, userComment)'>Submit comment</button>
            </div>
            </div>
			<div><lable>Comments</lable></div>
            <textarea class="scrollabletextbox" id="usersName" name="note"></textarea>
        </form>
        
</div>


            
             
            


