
<div ng-controller="ReviewCtrl">
    <div class="comment-form" ng-show="ifReview === true">
        <label for="tbxReviewTitle" class="add-location-form-label">Title</label>
        <input ng-model="commentTitle" id="tbxReviewTitle" name="title" class="add-location-form-input" ng-class="{'reg-form-error-outline' : submitted && add_location_form.title.$invalid || add_location_form.title.$dirty && add_location_form.title.$invalid}" type="text" ng-model="locationName" placeholder="e.g. Wonderful experience" required>
        <div class="reg-form-error-message" ng-show="submitted && add_location_form.title.$invalid || add_location_form.title.$dirty && add_location_form.title.$invalid">
            <span><i class="fa fa-exclamation-triangle fa-lg"></i></span>
            <label class="reg-form-error-label">Title is required!</label>
        </div>
        <label for="tblkReviewComment" class="add-location-form-label">Comment</label>
        <textarea ng-model="commentText" id="tblkReviewComment" name="comment" class="add-location-textarea" ng-class="{'reg-form-error-outline' : submitted && add_location_form.comment.$invalid || add_location_form.comment.$dirty && add_location_form.comment.$invalid}" maxlength="145" ng-model="locationDescription" placeholder="e.g. Great Food, lovely service and overall wonderful experience." required></textarea>
        <div class="reg-form-error-message" ng-show="submitted && add_location_form.comment.$invalid || add_location_form.comment.$dirty && add_location_form.comment.$invalid">
            <span><i class="fa fa-exclamation-triangle fa-lg"></i></span>
            <label class="reg-form-error-label">Comment is required!</label>
        </div>
        <div>
            <div ng-click="addComment(0,commentTitle,commentText)" class="button-main button-main-red button-border-red button-main-50 review-btn">
                <i class="fa fa-thumbs-down fa-2x"></i>
            </div>
            <div ng-click="addComment(1,commentTitle,commentText)" class="button-main button-main-green button-border-green button-main-50 review-btn">
                <i class="fa fa-thumbs-up fa-2x"></i>
            </div>
        </div>
    </div>

    <div>
        <div ng-repeat="comment in comments track by $index">
            <div class="comment-wrap" ng-if="commentError == false">
                <div class="comment-head">
                    <div class="comment-title">
                        <p>{{comment.CommentTitle}}</p>
                    </div>
                    <div class="thumb-block">
                        <i ng-show="comment.ThumbsUp == 1" class="fa fa-thumbs-up rating-pos"></i>
                        <i ng-show="comment.ThumbsUp == 0" class="fa fa-thumbs-down rating-neg"></i>
                    </div>
                </div>
                <div class="comment-body-text">
                    <p>{{comment.CommentText}}</p>

                </div>
                <div class="comment-footer">
                    <p>{{comment.UserName}} - {{comment.RateDate}} | <a ng-click="translateComments($index)">Translate into {{userCountryCode}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
