<div ng-repeat="venue in filterSearchResult | limitTo:showAmountFilter track by $index" >
  <div class="result-wrapper">
    <div class="result-header" ng-class="typeHeadClass">{{venue.LocationName}}<span class="pull-right location-icon" ng-class="setResultClass(venue.CategoryName)"></span></div>
    <div class="result-content"> 
      <p>{{$index}}</p>
      <p>Description : {{venue.LocationDescription}}</p>
      <p>City : {{venue.City}}</p>
      <p>Distance : {{venue.distance | number : 1}}km</p>
    </div>
    <div class="result-content-image"><img class="img-responsive" src="{{venue.LocationPic}}"/></div>
  </div>
</div>