<!--
ng-repeat creates search results based of the data returned from the server -- contained in controller variable 'filterSearchResult'
ng-class sets up classes for indiviual results based off result type
-->

<div ng-repeat="venue in filterSearchResult | limitTo:showAmountFilter track by $index" >
  <div class="result-wrapper">
    <!--Hidden div for on hover-->
    <div class="result-wrapper-hover">
      <div class="result-wrapper-hover-content">
        <p>{{venue.LocationName}}</p>
        <!--breaks if a class, (even an empty one) is not present-->
        <!--FIND OUT WHY, OR DONT, ... YOUR CHOICE-->
        <div class="" ng-class="setResultClass(venue.CategoryName)"><button>Visit Page</button></div>
      </div>
    </div>
    <div class="result-header" ng-class="typeHeadClass">{{venue.LocationName}}<span ng-class="setIconClass" class="pull-right location-icon"></span></div>
    <div class="result-content"> 
      <div class="result-content-description"><p>{{venue.LocationDescription | limitTo:145}} ...</p></div><!--Cause screw you twitter-->
      <div class="result-content-aux-info">
        <div class="aux-city"><p>City : {{venue.City}}</p></div>
        <div class="aux-distance"><p>Distance : {{venue.distance | number : 1}}km</p></div>
      </div>
    </div>
    <div class="result-content-image"><img class="img-responsive" ng-src="{{venue.LocationPic}}"/></div>
  </div>
</div>


