<div ng-repeat="venue in filterSearchResult | limitTo:showAmountFilter track by $index" >
  <div class="result-wrapper">
    <!--Hidden div for on hover-->
    <div class="result-wrapper-hover">
      <div>
        <p>{{venue.LocationName}}</p>
        <button class="btn btn-default">Visit Page</button>
      </div>
    </div>
    <div class="result-header" ng-class="typeHeadClass">{{venue.LocationName}}<span class="pull-right location-icon" ng-class="setResultClass(venue.CategoryName)"></span></div>
    <div class="result-content"> 
      <div class="result-content-description"><p>{{venue.LocationDescription | limitTo:145}} ...</p></div><!--Cause screw you twitter-->
      <div class="result-content-aux-info">
        <div class="aux-city"><p>City : {{venue.City}}</p></div>
        <div class="aux-distance"><p>Distance : {{venue.distance | number : 1}}km</p></div>
      </div>
    </div>
    <div class="result-content-image"><img class="img-responsive" ng-src="{{venue.LocationPic}}"/></div>
  </div>
</div>
