<div class="settings-pannel-wrapper">
	<div class="settings-pannel-header settings-pannel-header-settings">
		<p>Settings</p>
	</div>
	<div class="settings-pannel-content">
		<div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select View
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#/searchResult">Result View</a></li>
              <li><a href="#/map">Map View</a></li>
            </ul>
      	</div>
	</div>
	<div class="settings-pannel-header settings-pannel-header">
		<p>Business</p>
	</div>
	<div class="settings-pannel-content">
		<ul>
			<li><a href="#/registerbusiness">Register a business</a></li>
			<li><a href="#">View my busnesses</a></li>
		</ul>
	</div>
	<!--<div class="settings-pannel-header">
		<p>Jonathan Smith</p>
	</div>-->
	<div class="settings-pannel-content">
		<div class="profile-details-container">
			<img class="profile-picture img-responsive" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg">
			<p class="profile-name">Jonathan Smith</p>
		</div>
		<div class="profile-menu-container">
			<div class="options-group">
				<a class="detail-field" href="#/searchResult"><i class="detail-icon fa fa-globe"></i>Visited locations</a>
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-thumbs-up"></i>Rated locations</a>
			</div>
			<div class="options-group">
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-plus"></i>Add location</a>
				<a class="detail-field" href="#/searchResult"><i class="detail-icon fa fa-building-o"></i>Manage locations</a>
			</div>
			<div class="options-group">
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-cog"></i>Account Settings</a>
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-sign-out"></i>Logout</a>
			</div>
		</div>
	</div>
</div>