<div  ng-controller="SettingsPannel" ng-init="getNationalities()">
	 <!--includes filter buttons at top of page-->
    <div ng-include="'views/componants/quickButtons.html'"></div>
	<div class="settings-pannel-header settings-pannel-header-settings">
		<p>Settings</p>
	</div>
	<div class="settings-pannel-content">
		<div class="nav-icon-wrapper">
			<div class="nav-view-switch" ng-click="setActive(0)" ng-class="{navviewswitchactive: isActive === 0}"><a href="#/searchResult"><i class="fa fa-list fa-4x"></i></a></div>
        	<div class="nav-view-switch" ng-click="setActive(1)" ng-class="{navviewswitchactive: isActive === 1}"><a href="#/map"><i class="fa fa-map fa-4x"></i></a></div>
        </div>
        <div class="dropdown-wrapper">
	      	<div class="dropdown">
	            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Nationality
	            <span class="caret"></span></button>
	            <ul class="dropdown-menu">
	              <li ng-repeat="nation in nationalities track by $index" value="{{nation.NationalityID}}" ng-click="getLocationNewCountry(nation.NationalityID)"><a>{{nation.NationalityName}}</a></li>
	            </ul>
	      	</div>
		</div>
	</div>
	<div class="settings-pannel-header settings-pannel-header">
		<p>Business</p>
	</div>
	<div class="settings-pannel-content">
		<ul>
			<li><a href="#/registerbusiness">Register a business</a></li>
			<li><a href="#/registerUser">Register User</a></li>
			<li><a href="#/login">Login</a></li>
			<li><a href="#/facebookLogin">Facebook Login</a></li>
		</ul>
	</div>
	<!--<div class="settings-pannel-header">
		<p>Jonathan Smith</p>
	</div>-->
	<div class="settings-pannel-header settings-pannel-header">
		<p>Profile</p>
	</div>
	<div class="settings-pannel-content">
		<div class="profile-menu-container">
			<div class="options-group">
				<a class="detail-field" href="#/searchResult"><i class="detail-icon fa fa-globe"></i>Visited locations</a>
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-thumbs-up"></i>Rated locations</a>
			</div>
			<div class="options-group">
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-plus"></i>Add location</a>
				<a class="detail-field" href="#/searchResult"><i class="detail-icon fa fa-building-o"></i>Manage locations</a>
			</div>
			<div class="options-group">
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-cog"></i>Account Settings</a>
				<a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-sign-out"></i>Logout</a>
			</div>
		</div>	
	</div>
</div>