<!--
ng-repeat creates search results based of the data returned from the server -- contained in controller variable 'filterUserLocations'
ng-class sets up classes for indiviual results based off result type
-->
<div class="user-locations-list" ng-repeat="venue in filterUserLocations | limitTo:10 track by $index">
    <div class="result-wrapper user-location-wrapper">
        <!--Hidden div for on hover-->
        <div class="result-wrapper-hover">
            <div class="result-wrapper-hover-content user-location-wrapper-hover-content">
                <!--breaks if a class directive (even an empty one) is not present-->
                <div class="" ng-class="setResultClass(venue.CategoryName)">
                    <button ng-click="storeFocusedResult($index)">Edit</button>
                    <button ng-click="confirmDeleteLocation($index)">Delete</button>
                </div>
            </div>
        </div>
        <div class="result-header" ng-class="typeHeadClass">{{venue.LocationName}}<span ng-class="setIconClass" class="pull-right location-icon"></span></div>
        <div class="user-location-address">
            <span>{{venue.City}}</span>
        </div>
        <button class="btn btn-default col-xs-12 hidden-sm hidden-md hidden-lg" ng-click="storeFocusedResult($index)">Edit</button>
        <button class="btn btn-default col-xs-12 hidden-sm hidden-md hidden-lg" ng-click="confirmDeleteLocation($index)">Delete</button>
    </div>
</div>