<!--
ng-repeat creates search results based of the data returned from the server -- contained in controller variable 'filterUserLocations'
ng-class sets up classes for indiviual results based off result type
-->
<div class="user-locations-list" ng-repeat="venue in filterUserLocations track by $index">
    <div class="result-wrapper user-location-wrapper">
        <!--Hidden div for on hover-->
        <div class="result-wrapper-hover">
            <div class="result-wrapper-hover-content user-location-wrapper-hover-content">
                <!--breaks if a class directive (even an empty one) is not present-->
                <div class="user-location-hover-bar-properties" ng-class="setResultClass(venue.CategoryName)">
                    <div class="user-location-hover-bar-option">
                        <div ng-click="storeFocusedResult($index)"><i class="fa fa-eye fa-2x"></i><span>View</span></div>
                    </div>
                    <div class="user-location-hover-bar-option">
                        <div ng-click="editLocation($index)"><i class="fa fa-pencil-square-o fa-2x"></i><span>Edit</span></div>
                    </div>
                    <div class="user-location-hover-bar-option">
                        <div ng-click="confirmDeleteLocation($index)"><i class="fa fa-trash fa-2x"></i><span>Delete</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-header" ng-class="typeHeadClass">{{venue.LocationName | limitTo:32}}<span ng-class="setIconClass" class="pull-right location-icon"></span></div>
        <div class="user-location-address">
            <span>{{venue.City}}</span>
        </div>
        <button class="button-main button-border-green hidden-sm hidden-md hidden-lg" ng-click="storeFocusedResult($index)">View</button>
        <button class="button-main button-border-green hidden-sm hidden-md hidden-lg" ng-click="confirmDeleteLocation($index)">Delete</button>
    </div>
</div>