<div class="profile-module-header">
    <div class="pull-left">
        <p class="profile-name">Pierre Smith</p>
        <p class="profile-nat">French</p>
    </div>
    <div class="pull-right"><img class="profile-picture" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg"></div>
</div>
<div>
    <div class="profile-menu-container">
        <div class="options-group">
            <a class="detail-field" href="#/searchResult"><i class="detail-icon fa fa-globe"></i>Visited locations</a>
            <a class="detail-field" href="#/searchResult"><i class="detail-icon fa fa-thumbs-up"></i>Rated locations</a>
        </div>
        <div class="options-group">
            <a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-plus"></i>Add location</a>
            <a class="detail-field" href="#/userLocations"><i class="detail-icon fa fa-briefcase"></i>My locations</a>
        </div>
        <div class="options-group">
            <a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-cog"></i>Account Settings</a>
            <a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-sign-out"></i>Logout</a>
        </div>
    </div>
</div>
