<div class="hidden-xs hidden-sm">
    <div class="profile-module-header">
        <div class="pull-left">
            <p class="profile-name">{{userName}}</p>
            <p class="profile-nat">{{userCountry}}</p>
        </div>
        <div class="pull-right"><img class="profile-picture" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg"></div>
    </div>
    <div class="profile-menu-container">
        <div class="options-group">
            <a class="detail-field" href="#/visitedLocations"><i class="detail-icon fa fa-globe"></i>Visited locations</a>
            <a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-plus"></i>Add location</a>
            <a class="detail-field" href="#/userLocations"><i class="detail-icon fa fa-briefcase"></i>My locations</a>
        </div>
        <div class="options-group">
            <a class="detail-field" href="#/accountSettings"><i class="detail-icon fa fa-cog"></i>Account Settings</a>
            <a class="detail-field" href="#/registerbusiness"><i class="detail-icon fa fa-sign-out"></i>Logout</a>
        </div>
    </div>
</div>
<div class="hidden-md hidden-lg">
    <div class="profile-module-header">
        <div class="pull-left"><img class="profile-picture" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg"></div>
        <div class="pull-left">
            <p class="profile-name">{{userName}}</p>
            <p class="profile-nat">{{userCountry}}</p>
        </div>
        <div class="profile-dropdown-caret-wrapper pull-right"><i class="profile-dropdown-caret fa fa-caret-down fa-2x"></i></div>
        <select class="profile-dropdown" ng-model="ProfileOptions" ng-change="ProfileOptionSelected(ProfileOptions)">
            <option value="" disabled selected>Select Option</option>
            <option>&#xf0ac; Visited locations</option>
            <option>&#xf067; Add location</option>
            <option>&#xf0b1; My locations</option>
            <option>&#xf013; Account Settings</option>
            <option>&#xf08b; Logout</option>
        </select>
    </div>
</div>
