<div class="quick-filter-wrapper hidden-md hidden-lg">
    <!--includes filter buttons at top of page-->
    <div ng-include="'views/componants/indivQuickNav.html'"></div>
</div>

<div ng-controller="IndividualResultPageCtrl">
    <div ng-include="'views/componants/mobileNav.html'" scope="" onload=""></div>
    <div class="container indiv-wrapper">
        <div class="content-left animated fadeIn">
            <div class="edit-location" ng-show="editLocation == true">
                <div class="edit-location-hover-header-options">
                    <div class="user-location-hover-bar-option">
                        <div ng-click="editLocationImage()"><i class="fa fa-picture-o fa-3x"></i><span>Edit Picture</span></div>
                    </div>
                    <div class="user-location-hover-bar-option">
                        <div ng-click="editLocationDetails()"><i class="fa fa-info fa-3x"></i><span>Edit Details</span></div>
                    </div>
                    <div class="user-location-hover-bar-option">
                        <div ng-click="editLocationAddress()"><i class="fa fa-map-marker fa-3x"></i><span>Edit Location</span></div>
                    </div>
                </div>
            </div>
            <div class="text-center" ng-show="editLocation == true">
                <button type="button" class="button-main button-border-green button-main-50" ng-click="updateLocation">Update Location</button>
            </div>
            <div class="indiv-header-wrapper">
                <!--Picks border colour based on type of venue is displayed i.e 'Bar'-->
                <div ng-class="{'indiv-divider-bar': pageViewData.CategoryName == 'Bar','indiv-divider-res': pageViewData.CategoryName == 'Restaurant','indiv-divider-shop': pageViewData.CategoryName == 'Supermarket','indiv-divider-other': pageViewData.CategoryName == 'Other'}" class="indiv-divider"></div>
                <div class="indiv-img-wrap">
                    <img src="{{pageViewData.LocationPic}}" />
                    <div class="indiv-page-header">
                        <h2>{{pageViewData.LocationName}}</h2>
                    </div>
                </div>
                <!--Picks border colour based on type of venue is displayed i.e 'Bar' == red-->
                <div ng-class="{'indiv-divider-bar': pageViewData.CategoryName == 'Bar','indiv-divider-res': pageViewData.CategoryName == 'Restaurant','indiv-divider-shop': pageViewData.CategoryName == 'Supermarket','indiv-divider-other': pageViewData.CategoryName == 'Other'}" class="indiv-divider"></div>
            </div>
            <a id="info"></a>
            <div class="indiv-content">
                <!--Desktop View-->
                <div ng-include="'views/componants/indivDesktop.html'"></div>
                <a id="map-anchor"></a>
                <div class="indiv-map-wrap">
                    <hr/>
                    <div id="map" style="width:100%; height: 100%"></div>
                    <div id="arrowContainer"><img id="centreRing" class="hide-desktop" src="/images/navIcons/userRing.svg"></div>
                    <div id="arrowContainer"><img id="navArrow" class="hide-desktop" src="images/navIcons/venueHeading.svg"></div>
                    <div id="arrowContainer"><img id="userArrow" class="hide-desktop" src="images/navIcons/userHeading.svg"></div>
                    <div id="testDistance" class="indiv-map-distance hidden-md hidden-lg"></div>
                </div>
            </div>
            <a id="ratings"></a>
            <div class="indiv-ratings" ng-hide="editLocation == true">
                <hr/>
                <div ng-include="'views/componants/review.html'"></div>
            </div>
        </div>
        <div class="content-right">
            <!--includes settings pannel-->
            <div class="settings-pannel-wrapper">
                <div ng-include="'views/componants/settingsPannel.html'"></div>
            </div>
        </div>
    </div>
    <!--Image Modal-->
    <div id="imageModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="image-modal-upload-container">
                        <div class="indiv-img-wrap">
                            <img ng-src="{{pageViewData.LocationPic}}" />
                        </div>
                        <div id="editImageHolder"></div>
                        <div class="image-modal-upload-btn-container">
                            <input id="hiddenImgInput" type="file">
                            <i class="fa fa-upload fa-5x" ng-click="editLocationImageUpload()"></i>
                            <p>Upload Location Image</p>
                            <p><span>Optimal size 800x200px</span></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</button>
                    <button type="button" class="btn btn-default" ng-click="editLocationImage(true)">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!--Details Modal-->
    <div id="detailsModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-content-column">
                        <label for="name" class="modal-label">Name</label>
                        <input id="tbxName" name="name" class="add-location-form-input" type="text" ng-model="pageViewData.LocationName" required>
                        <label for="name" class="modal-label">Nationality</label>
                        <input id="tbxWebsite" name="name" class="add-location-form-input" type="text" ng-model="pageViewData.Website" required>
                        <label for="name" class="modal-label">Category</label>
                        <input id="tbxWebsite" name="name" class="add-location-form-input" type="text" ng-model="pageViewData.Website" required>
                        <label for="name" class="modal-label">Description</label>
                        <label for="name" class="modal-label">Website</label>
                        <input id="tbxWebsite" name="name" class="add-location-form-input" type="text" ng-model="pageViewData.Website" required>
                    </div>
                    <div class="modal-content-column">
                        <label class="modal-label">Opening Hours</label>
                        <div class="opening-hours">
                            <div class="opening-hours-day-tabs-mobile">
                                <div ng-click="setDayClass($event)" class="opening-hours-day-top">Mon</div>
                                <div ng-click="setDayClass($event)" class="opening-hours-day-top">Tue</div>
                                <div ng-click="setDayClass($event)" class="opening-hours-day-top">Wed</div>
                                <div ng-click="setDayClass($event)" class="opening-hours-day-bottom">Thu</div>
                                <div ng-click="setDayClass($event)" class="opening-hours-day-bottom">Fri</div>
                                <div ng-click="setDayClass($event)" class="opening-hours-day-bottom">Sat</div>
                                <div ng-click="setDayClass($event)" class="opening-hours-day-bottom">Sun</div>
                            </div>
                            <div class="opening-hours-time-capsule">
                                <div class="opening-hours-time-input">
                                    <label class="modal-label">From</label>
                                    <input type="time" ng-model="openTime">
                                </div>
                                <div class="opening-hours-time-input">
                                    <label class="modal-label">To</label>
                                    <input type="time" ng-model="closeTime">
                                </div>
                            </div>
                            <input type="button" class="bus-reg-form-button" ng-click="addOpeningHours(openTime, closeTime)" value="Add Hours">
                            <div>
                                <div class="opening-hours-added-time">
                                    <label class="modal-label">Monday:</label>
                                    <p ng-show="openingHours[0].open == 'null'">Closed</p>
                                    <p ng-show="openingHours[0].open != 'null'">{{openingHours[0].open}} - {{openingHours[0].close}}</p>
                                </div>
                                <div class="opening-hours-added-time">
                                    <label class="modal-label">Tuesday:</label>
                                    <p ng-show="openingHours[1].open == 'null'">Closed</p>
                                    <p ng-show="openingHours[1].open != 'null'">{{openingHours[1].open}} - {{openingHours[1].close}}</p>
                                </div>
                                <div class="opening-hours-added-time">
                                    <label class="modal-label">Wednesday:</label>
                                    <p ng-show="openingHours[2].open == 'null'">Closed</p>
                                    <p ng-show="openingHours[2].open != 'null'">{{openingHours[2].open}} - {{openingHours[2].close}}</p>
                                </div>
                                <div class="opening-hours-added-time">
                                    <label class="modal-label">Thursday:</label>
                                    <p ng-show="openingHours[3].open == 'null'">Closed</p>
                                    <p ng-show="openingHours[3].open != 'null'">{{openingHours[3].open}} - {{openingHours[3].close}}</p>
                                </div>
                                <div class="opening-hours-added-time">
                                    <label class="modal-label">Friday:</label>
                                    <p ng-show="openingHours[4].open == 'null'">Closed</p>
                                    <p ng-show="openingHours[4].open != 'null'">{{openingHours[4].open}} - {{openingHours[4].close}}</p>
                                </div>
                                <div class="opening-hours-added-time">
                                    <label class="modal-label">Saturday:</label>
                                    <p ng-show="openingHours[5].open == 'null'">Closed</p>
                                    <p ng-show="openingHours[5].open != 'null'">{{openingHours[5].open}} - {{openingHours[5].close}}</p>
                                </div>
                                <div class="opening-hours-added-time">
                                    <label class="modal-label">Sunday:</label>
                                    <p ng-show="openingHours[6].open == 'null'">Closed</p>
                                    <p ng-show="openingHours[6].open != 'null'">{{openingHours[6].open}} - {{openingHours[6].close}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</button>
                    <button type="button" class="btn btn-default" ng-click="editLocationName(true, tbxModal)">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Directive for google maps api-->
<watch-location></watch-location>
