<div ng-controller="IndividualResultPageCtrl">
    <div ng-include="'views/componants/mobileNav.html'" scope="" onload=""></div>
    <div class="container indiv-wrapper">
        <div class="content-left animated fadeIn">
            <div class="indiv-header-wrapper">
                <!--Picks border colour based on type of venue is displayed i.e 'Bar'-->
                <div ng-class="{'indiv-divider-bar': pageViewData.CategoryName == 'Bar','indiv-divider-res': pageViewData.CategoryName == 'Restaurant','indiv-divider-shop': pageViewData.CategoryName == 'Supermarket','indiv-divider-other': pageViewData.CategoryName == 'Other'}" class="indiv-divider"></div>
                <div class="indiv-img-wrap">
                    <img ng-src="{{pageViewData.LocationPic}}" />
                    <div class="indiv-page-header">
                        <h2>{{pageViewData.LocationName}}</h2>
                    </div>
                </div>
                <!--Picks border colour based on type of venue is displayed i.e 'Bar' == red-->
                <div ng-class="{'indiv-divider-bar': pageViewData.CategoryName == 'Bar','indiv-divider-res': pageViewData.CategoryName == 'Restaurant','indiv-divider-shop': pageViewData.CategoryName == 'Supermarket','indiv-divider-other': pageViewData.CategoryName == 'Other'}" class="indiv-divider"></div>
            </div>
            <div class="indiv-content">
                <button id="btnToggleMap" class="btn btn-success col-xs-12 hidden-md hidden-lg">Get Directions</button>
                <div class="indiv-map-wrap">
                    <div id="map" style="width:100%; height: 100%"></div>
                    <div id="arrowContainer"><img id="centreRing" class="hidden-md hidden-lg" src="/images/navIcons/userRing.svg"></div>
                    <div id="arrowContainer"><img id="navArrow" class="hidden-md hidden-lg" src="images/navIcons/venueHeading.svg"></div>
                    <div id="arrowContainer"><img id="userArrow" class="hidden-md hidden-lg" src="images/navIcons/userHeading.svg"></div>
                    <div id="testDistance" class="indiv-map-distance"></div>
                </div>
                <div class="indiv-description">
                    <p>{{pageViewData.CategoryName}}</p>
                    <hr/>
                    <p>{{pageViewData.City}}</p>
                    <hr/>
                    <p>{{pageViewData.LocationDescription}}</p>
                    <hr/>
                    <buton class="btn btn-default col-xs-12">Phone Now</buton>
                    <hr/>
                    <button class="btn btn-default col-xs-12 indiv-button-spacer">Visit Website</buton>
                </div>
                <div ng-include="'views/componants/review.html'"></div>
            </div>
        </div>
        <div class="content-right">
            <!--includes settings pannel-->
            <div class="settings-pannel-wrapper">
                <div ng-include="'views/componants/settingsPannel.html'"></div>
            </div>
        </div>
    </div>
</div>
<!--Directive for google maps api-->
<watch-location></watch-location>
