
<div class="container" ng-controller="LoginCtrl">
  <form role="form"  name="loginForm">
    <div>
        <label>User Email</label></br>
        <input type="email" name="email" ng-model="userEmail" /></br>
    	  <span ng-show="loginForm.email.$dirty && loginForm.email.$error.required">Required</span>
        <span ng-show="loginForm.email.$dirty  &&   loginForm.email.$error.email">Not an email!</span>
    </div>
    <div>
        <label>Password</label></br>
        <input type="password" name="password" ng-model="userPassword"/></br></br>
        <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Required</span>
        <span ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">Minimum 8 characters</span>
    </div></br>
    <button  type="submit"  ng-disabled="loginForm.$invalid"  ng-click='loginUser(userEmail, userPassword)' >LOGIN</button>
  </form>
</div>