<div ng-controller="LocationSearchCtrl" ng-init="getFilter('All')">
  <div class="quickBTNContainer">
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('All')">ALL</button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Bar')"><i class="fa fa-glass fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Restaurant')"><i class="fa fa-cutlery fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Supermarket')"><i class="fa fa-shopping-cart fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Other')">OTHER</button>
  </div>

  <div ng-init="getLocation()">
    <div ng-repeat="venue in filterSearchResult track by $index">
      <div class="panel panel-info" >
        <div class="panel-heading">{{venue.LocationName}}<span class="pull-right">Type : {{venue.CategoryName}}</span></div>
          <div class="panel-body">  
            <p>Description : {{venue.LocationDescription}}</p>
            <p>City : {{venue.City}}</p>
            <p>Distance : {{venue.distance | number : 1}}km</p>
            <!--
            <p>{{"Location Latitude : " + venue.LocationLat + " " + "Location Longitude : " + venue.LocationLat}}</p>
            <p>{{venue.City}}</p>
            -->
          </div>
      </div>
    </div>
  </div>
</div>