<style>
.angular-google-map-container { height: 400px;}
.marker-labels{ 
    color:#0066FF; 
    height:61px; 
    width:auto;
    font-size:9px;
    font-family: helvetica;
    font-weight: bold;

     }
</style>

<div ng-init="getLocation()"></div>
<div class="quick-filter-wrapper hidden-md hidden-lg">
    <div ng-include="'views/componants/quickButtons.html'"></div>
</div>
<div class="container content-wrapper" ng-init="getLocation()">
  <div class="content-left">
    <div ng-controller="MapCtrl">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" ng-init="getFilter('All')">
      <ui-gmap-marker coords='youarehere.coords' idKey='youarehere.id' options='youarehere.options'>    
      </ui-gmap-marker>
      <ui-gmap-window coords="MapOptions.markers.selected.coords" show="windowOptions.show" options="windowOptions" closeClick="closeClick()" templateUrl="'infowindow.tpl'"  templateParameter="selectedmarker" >
      </ui-gmap-window>
      <ui-gmap-markers models="markers" idkey="'id'" coords="'coords'" options="'options'" click="onClick" events="markers.events" >
      </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
  </div>
    <div class="content-right">
        <!--includes settings pannel-->
        <div class="settings-pannel-wrapper">
        <div ng-include="'views/componants/settingsPannel.html'"></div>
        </div>
      </div>
</div>


