<style>.angular-google-map-container { height: 400px; }</style>

<div ng-controller="MapCtrl">
  <div class="quickBTNContainer">
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('All')">ALL</button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Bar')"><i class="fa fa-glass fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Restaurant')"><i class="fa fa-cutlery fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Supermarket')"><i class="fa fa-shopping-cart fa-2x"></i></button>
    <button type="button" class="btn btn-default quickBTN" ng-click="getFilter('Other')">OTHER</button>
  </div>
  
  <div ng-init="getLocation()"></div>

  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-marker coords='youarehere.coords' idKey='youarehere.id'>
      
    </ui-gmap-marker>

    <ui-gmap-window coords="markers.coords" show="windowOptions.show" closeClick="closeClick()">
                <div>Hello</div>
            </ui-gmap-window>
            <ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'" click="'onClick'" events="markers.events" >
            </ui-gmap-markers>

  </ui-gmap-google-map>
  <form novalidate>
    BusinessAddress:<br>
    <input type="text" id="busaddress"><br>
    <input type="submit" class="btn btn-default" ng-click="getCoordinates()" />
  </form>


</div>