<style>
.angular-google-map-container {
    height: 400px;
}

.marker-labels {
    color: #0066FF;
    height: 61px;
    width: auto;
    font-size: 9px;
    font-family: helvetica;
    font-weight: bold;
}
</style>
<div ng-init="getLocation()"></div>
<div class="quick-filter-wrapper hidden-md hidden-lg">
    <div ng-include="'views/componants/quickButtons.html'"></div>
</div>
<!--Include mobile nav-->
<div ng-include="'views/componants/mobileNav.html'" scope="" onload=""></div>
<div class="container map-view-content-wrapper" ng-init="getLocation()">
    <div class="content-left animated fadeIn">
        <div class="map-view-map" ng-controller="MapCtrl">
          <div style="color: red;" id="wynik"></div>
          <ui-gmap-google-map center="map.center" zoom="map.zoom" ng-init="getFilter('All')" control="control" bounds="map.bounds">

              <ui-gmap-marker coords='youarehere.coords' idKey='youarehere.id' options='youarehere.options'>
              </ui-gmap-marker>
              <ui-gmap-window coords="MapOptions.markers.selected.coords" show="windowOptions.show" options="windowOptions" closeClick="closeClick()" templateUrl="'../infowindow.tpl.html'" templateParameter="selectedmarker">
              </ui-gmap-window>

              <ui-gmap-markers models="markers" idkey="'id'" coords="'coords'" options="'options'" click="onClick" events="markers.events">
              </ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
    </div>
    <div class="content-right">
        <!--<div class="main" ng-controller="MapCtrl">
  <h2>Device Orientation</h2>
  <table>
    <tr>
      <td>Event Supported</td>
      <td id="doEvent"></td>
    </tr>
    <tr>
      <td>Tilt Left/Right [gamma]</td>
      <td id="doTiltLR"></td>
    </tr>
    <tr>
      <td>Tilt Front/Back [beta]</td>
      <td id="doTiltFB"></td>
    </tr>
    <tr>
      <td>Direction [alpha]</td>
      <td id="doDirection"></td>
    </tr>
   </table>
</div>
<div class="container" style="perspective: 300;">
  <img src="images/html5_logo.png" id="imgLogo" class="logo">-->
        <!--includes settings pannel-->
        <div class="settings-pannel-wrapper">
            <div ng-include="'views/componants/settingsPannel.html'"></div>
        </div>
    </div>
</div>
<map-marker-panel></map-marker-panel>