<style>.angular-google-map-container { height: 400px; }</style>
<div ng-controller="RegisterBusinessCtrl" class="container">
	<div ng-controller="MapCtrl" class="container">
		<form novalidate  ng-init="getLocation()">
		    <label>Enter Address</label>
		    <input type="text" id="busaddress"><br>
		    <input type="submit" ng-click="getCoordinates()" value="Go" />
		</form>
	  	<label>Is this your location?</label>
		<ui-gmap-google-map center='busmarker.coords' zoom='14'>
		    <ui-gmap-marker coords='busmarker.coords' idKey='busmarker.id'>
		</ui-gmap-google-map>
	</div>
</div>