<!--Include mobile nav-->
<div ng-include="'views/componants/mobileNav.html'" scope="" onload=""></div>
<div ng-controller="RegisterBusinessCtrl">
    <div class="container add-location-content-wrapper">
        <div class="content-left">
            <div class="add-location-form">
                <form name="add_location_form" novalidate ng-submit="add_location_form.$valid && addLocation(locationName, locationDescription, locationNationality, locationCategory, locationAddress)">
                    <div class="add-location-form-header">
                        <div>
                            <p>Details</p>
                        </div>
                    </div>
                    <div class="add-location-form-details">
                        <div class="add-location-form-details-field">
                            <span><i class="fa fa-trademark fa-3x"></i></span>
                            <label for="tbxName" class="add-location-form-label">Name</label>
                            <input id="tbxName" name="name" class="add-location-form-input" ng-class="{'reg-form-error-outline' : submitted && add_location_form.name.$invalid || add_location_form.name.$dirty && add_location_form.name.$invalid}" type="text" ng-model="locationName" placeholder="e.g. The Little Pizza" required>
                            <div class="reg-form-error-message" ng-show="submitted && add_location_form.name.$invalid || add_location_form.name.$dirty && add_location_form.name.$invalid">
                                <span><i class="fa fa-exclamation-triangle fa-lg"></i></span>
                                <label class="reg-form-error-label">Name is required!</label>
                            </div>
                        </div>
                        <div class="add-location-form-details-field" ng-init="loadNationalities()">
                            <span><i class="fa fa-globe fa-3x"></i></span>
                            <label for="lstNat" class="add-location-form-label">Nationality</label>
                            <select id="lstNat" name="nat" class="add-location-form-input" ng-class="{'reg-form-error-outline' : submitted && add_location_form.nat.$invalid || add_location_form.nat.$dirty && add_location_form.nat.$invalid}" ng-model="locationNationality" ng-options="option.NationalityName for option in nationalities track by option.NationalityID" required>
                                <option value="" disabled selected>Select Nationality</option>
                            </select>
                            <div class="reg-form-error-message" ng-show="submitted && add_location_form.nat.$invalid || add_location_form.nat.$dirty && add_location_form.nat.$invalid">
                                <span><i class="fa fa-exclamation-triangle fa-lg"></i></span>
                                <label class="reg-form-error-label">Nationality is required!</label>
                            </div>
                        </div>
                        <div class="add-location-form-details-field" ng-init="loadCategories()">
                            <span><i class="fa fa-ellipsis-h fa-3x"></i></span>
                            <label for="lstCat" class="add-location-form-label">Category</label>
                            <select id="lstCat" name="cat" class="add-location-form-input" ng-class="{'reg-form-error-outline' : submitted && add_location_form.cat.$invalid || add_location_form.cat.$dirty && add_location_form.cat.$invalid}" ng-model="locationCategory" ng-options="option.CategoryName for option in categories track by option.CategoryID" required>
                                <option value="" disabled selected>Select Category</option>
                            </select>
                            <div class="reg-form-error-message" ng-show="submitted && add_location_form.cat.$invalid || add_location_form.cat.$dirty && add_location_form.cat.$invalid">
                                <span><i class="fa fa-exclamation-triangle fa-lg"></i></span>
                                <label class="reg-form-error-label">Category is required!</label>
                            </div>
                        </div>
                        <div class="add-location-form-details-field-description">
                            <span><i class="fa fa-align-left fa-3x"></i></span>
                            <label for="tblkDes" class="add-location-form-label">Description</label>
                            <textarea id="tblkDes" name="des" class="add-location-textarea" ng-class="{'reg-form-error-outline' : submitted && add_location_form.des.$invalid || add_location_form.des.$dirty && add_location_form.des.$invalid}" maxlength="145" ng-model="locationDescription" placeholder="e.g. Family friendly, tradiontal Italian pizzeria" required></textarea>
                            <div class="reg-form-error-message" ng-show="submitted && add_location_form.des.$invalid || add_location_form.des.$dirty && add_location_form.des.$invalid">
                                <span><i class="fa fa-exclamation-triangle fa-lg"></i></span>
                                <label class="reg-form-error-label">Description is required!</label>
                            </div>
                        </div>
                    </div>
                    <div class="add-location-form-header">
                        <div>
                            <p>Location</p>
                        </div>
                    </div>
                    <div class="add-location-form-location">
                        <div><label class="add-location-form-label add-location-form-label-mobile">Please type your address in the area provided.</label></div>
                        <div><label class="add-location-form-label add-location-form-label-desktop">Please select your location on the map below or type your address in the area provided.</label></div>
                        <div class="add-location-form-map">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" options="map.options">
                                <ui-gmap-marker coords='addLocationMapMarker.coords' idKey='addLocationMapMarker.id' options="{icon: '/images/map_icons/your_location_icon.png'}" dorebuildall="true"></ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                        <div>
                            <label for="tbxAddress" class="add-location-form-label">Address</label>
                            <input id="tbxAddress" name="address" class="add-location-form-input" ng-class="{'reg-form-error-outline' : submitted && add_location_form.address.$invalid || add_location_form.address.$dirty && add_location_form.address.$invalid}" type="text" ng-model="locationAddress" ng-change="getCoordinates(locationAddress)" required>
                            <div class="reg-form-error-message" ng-show="submitted && add_location_form.address.$invalid || add_location_form.address.$dirty && add_location_form.address.$invalid">
                                <span><i class="fa fa-exclamation-triangle fa-lg"></i></span>
                                <label class="reg-form-error-label">Address is required!</label>
                            </div>
                        </div>
                    </div>
                    <div class="bus-reg-buttons-container">
                        <input type="submit" class="bus-reg-button bus-reg-button-yes"
                        value="Add Location" ng-click="submitted=true"></input>
                        <!--Quickly show modal-->
                        <button onclick="showModal()" style="opacity: 0"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content-right">
            <!--includes settings pannel-->
            <div class="settings-pannel-wrapper">
                <div ng-include="'views/componants/settingsPannel.html'"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">
                    <p><span ng-bind="locationName"></span> has been added.<p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="viewNewLocation()">Continue</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Quickly show modal-->
<script>
function showModal(){
$('#myModal').modal('show');
}
</script>
