<div ng-controller="VisitedLocationsCtrl" ng-init="getFilter('All')">
	<div ng-include="'views/componants/mobileNav.html'" scope="" onload=""></div>
	<div class="container add-location-content-wrapper" ng-init="getVisitedLocations()">
		<div class="content-left">
			<div class="search-loading" ng-show="showLoadingAnimation == true">
                    <p class="loading-image-text">blip</p><img class="animated rotateIn infinite" src="/images/loading/loading_icon.svg"></div>
			<div class="visited-locations hide">
				<div class="hidden-xs hidden-sm">
		            <div class="add-location-form-header">
		                <div>
		                    <p>Visited Countries</p>
		                </div>
		            </div>
					<script src="bower_components/ammap3/ammap/maps/js/worldHigh.js" type="text/javascript"></script>
					<div id="visitedCountriesMap"></div>
				</div>
                <div ng-include="'views/componants/visitedLocation.html'"></div>
			</div>
		</div>
		<div class="content-right">
            <!--includes settings pannel-->
            <div class="settings-pannel-wrapper">
                <div ng-include="'views/componants/settingsPannel.html'"></div>
            </div>
        </div>
	</div>
	<div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">
                   	<label class="add-location-form-label">Title</label>
                	<input id="tbxReviewTitle" name="name" class="add-location-form-input" type="text" ng-model="commentTitle" required>
                	<label class="add-location-form-label">Comment</label>
                	<textarea ng-model="commentText" id="tblkReviewComment" name="comment" class="add-location-textarea" ng-class="{'reg-form-error-outline' : submitted && add_location_form.comment.$invalid || add_location_form.comment.$dirty && add_location_form.comment.$invalid}" maxlength="145" required></textarea>
                </div>
                <div class="modal-footer">
                    <div ng-click="updateReview(0,commentTitle,commentText)" class="button-main button-main-red button-border-red button-main-50 review-btn">
		                <i class="fa fa-thumbs-down fa-2x"></i>
		            </div>
                    <div ng-click="updateReview(1,commentTitle,commentText)" class="button-main button-main-green button-border-green button-main-50 review-btn">
		                <i class="fa fa-thumbs-up fa-2x"></i>
		            </div>
		            <hr>
		            <button type="button" class="button-main button-main-green button-border-green" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
<profile-map></profile-map>